<!DOCTYPE html>
{% extends 'base.html' %}
{% block title %} 名词解释 {% endblock %}
{% block headmesage %}
    <h3 style="font-family: 楷体;">股票名词解释</h3>
 {% endblock %}
{% block content %}
    <p><strong>预测涨幅：</strong>&nbsp;该股当日收盘时如果上涨可能到达的幅度，介于1～10％之间</p>
    <p><strong>预测跌幅：</strong>&nbsp;该股当日收盘时如果下跌可能到达的幅度，介于-1～-10％之间</p>
    <p><strong>上涨概率：</strong>&nbsp;该股当日收盘时较前日涨幅大于1％的可能性，介于0～100％之间 </p>
    <p><strong>市盈率(PE)：</strong>&nbsp;评估股价水平是否合理的指标之一，由股价除以年度每股盈余（EPS）得出</p>
    <p><strong>毛利率：</strong>&nbsp;销售收入扣减产品销售成本后的余额，毛利率=毛利润/销售收入</p>
    <p><strong>净利润率：</strong>&nbsp;指经营所得的净利润占销货净额的百分比，或占投入资本额的百分比</p>
{% endblock %}


