<!DOCTYPE html>
{% extends 'base.html' %}
{% block title %} {{ stock.name }}-股票列表 {% endblock %}
{% block headmesage %}
        <h3>{{ stock.name }}
{#        <a href="/">{{ stock.name }}</a>#}
        </h3>
 {% endblock %}
{% block content %}
                <p style="font-size: 12pt;letter-spacing:2pt">
            {{ stock.code }} {{ stock.industry }}
        </p>
{% endblock %}


{#<!DOCTYPE html>#}
{#<html>#}
{#<head>#}
{#    <meta charset="utf-8">#}
{#    <title>#}
{#        股票预测#}
{#    </title>#}
{#</head>#}
{#<body>#}
{#    <h1>#}
{#        {{ stock.name }}#}
{#    </h1>#}
{#    <hr>#}
{#    {{ stocks }}#}
{#        <p style="font-size: 12pt;letter-spacing:2pt">#}
{#            {{ stock.code }} {{ stock.industry }}#}
{#        </p>#}
{#    <hr>#}
{#    <h3>#}
{#        <a href="/">回首页</a>#}
{#    </h3>#}
{#</body>#}
{#</html>#}