<!DOCTYPE html>
{% extends 'base.html' %}
{% block title %} 使用介绍{% endblock %}
{% block headmesage %}
    <h3 style="font-family: 楷体;">使用介绍</h3>
{% endblock %}
{% block content %}
    <!--预测表 -->
    <img src="static/dot1.png" width="9" height="9"> &nbsp;<strong>什么是股票价格预测</strong>
    <p style="padding-left:15px; display:block">
        　　股票价格预测是利用股票形态分析理论对股票未来走势的方向和可能性做出预测，它的方法论依据是从海量的历史数据中寻找和某支股票当前趋势相同或相似的趋势，并根据历史趋势判断未来股票价格。<br>
        　　基本分析和技术分析是现今股票分析的两大方法，股票价格预测的理论方法来自与技术分析中的形态分析方法 。
        <br> 众所周知，技术分析遵从三大前提条件：
        <br>    ① 市场行为包容一切
        <br>    ② 价格以趋势方式演变
        <br>    ③ 历史会重演
        <br> 　　将股票价格用曲线连接起来就成为一条趋势线，股票价格预测的目的就是基于“历史会重演”的思想从海量的历史趋势线中寻求发现有价值的信息。
        <br> 　　股票价格预测采用数据挖掘技术，从大量的、不完全的、有噪声的、模糊的、随机的数据中提取隐含在其中的、人们事先不知道的、但又是潜在有用的信息和知识。在价格预测中，主要运用数据挖掘完成两个任务：
        <br> 　　聚类：把股票价格趋势按照相似性归纳成若干类别，同一类中的趋势彼此相似，不同类中的趋势相异。聚类分析可以建立宏观的概念，发现趋势的分布模式。
        <br> 　　预测：利用历史价格趋势找出变化规律，建立模型，并以此模型对未来价格走势的特征进行预测。 本项目基于LSTM(Long Short Term Memory)模型完成对股票的价格预测。</p>
    <img src="static/dot1.png" width="9" height="9"> &nbsp;<strong>股票价格预测的作用</strong><br>
    <p style="padding-left:15px;"> 　　在目前市场环境下，散户投资过程中最大的问题是信息不对称，要获取真实信息则需要付出成本，使得散户往往依赖于无成本的“小道消息”而非科学的技术分析。形态分析认为一切能够影响股价的因素——经济的、政策的、心理的等等最终都反映到K线图上。股票价格预测正是基于K线图帮助散户在缺乏透明度的市场中低成本地、科学地获取有效信息。 股票价格预测每天对每只股票的未来趋势做出预测，预测的内容包括股票未来的上涨概率、上涨幅度、下跌概率、下跌幅度，用户可以通过每日提供的大量预测数据发现存在上涨可能的股票。
    </p>
    <img src="static/dot1.png" width="9" height="9"> &nbsp;<strong>股票价格预测的特点</strong><br>
    <p style="padding-left:15px;">
        　　传统的形态分析方法通常基于固定形态使用，如头肩顶、头肩底、双重底、圆弧底等等。当出现不符合上述形态，或者由于时间跨度不够，尚未能完成一个形态的情况时，传统的分析法则计无可施。此股票价格预测能够基于任何时点，任何形态，通过对海量历史信息的匹配计算寻找相似形态，立即对股票未来走势做出预测。</p>
    <br>
{% endblock %}
